
<h1>New Recipe</h1>
<%= form_for @recipe do |f| %>
<%= f.label :title %>
<%= f.text_field :title %><br>

<h2>Create New Ingredients</h2>
<%= f.fields_for :ingredients do |i| %>
<%= i.label :name %>
<%= i.text_field :name %>
<%= i.label :quantity %>
<%= i.text_field :quantity %>
<% end %>
<br>
<br>


<%= f.submit %>
<% end %>